<button pButton type="button" (click)="count()" label="Click"></button>
<button pButton type="button" (click)="count()" icon="fa-check" label="Click"></button>
<button pButton type="button" (click)="count()" icon="fa-check" iconPos="right" label="Click"></button>
<button pButton type="button" (click)="count()" icon="fa-check"></button>
<button pButton type="button" (click)="count()" icon="fa-check" [disabled]="true" label="Disabled"></button>

<h3>Severity Buttons</h3>
<button pButton type="button" (click)="count()" label="Primary"></button>
<button pButton type="button" (click)="count()" label="Secondary" class="ui-button-secondary"></button>
<button pButton type="button" (click)="count()" label="Success" class="ui-button-success"></button>
<button pButton type="button" (click)="count()" label="Info" class="ui-button-info"></button>
<button pButton type="button" (click)="count()" label="Warning" class="ui-button-warning"></button>
<button pButton type="button" (click)="count()" label="Danger" class="ui-button-danger"></button>

Number of clicks: {{clicks}}

<p-growl [value]="msgs"></p-growl>
<!-- <p-splitButton label="Save" icon="fa-check" (onClick)="save()" [model]="items"></p-splitButton> -->