<!-- 顶部导航 -->
<ul class="nav nav-pills">
  <li role="presentation" class="active"><a href="#">Home</a></li>
  <li role="presentation"><a href="#">Profile</a></li>
  <li role="presentation"><a href="#">Messages</a></li>
  <li role="presentation"><a href="#">LaLaLa</a></li>
</ul>
<!-- 主体内容区域 -->
<div class="container main-container"></div>
<!-- 底部区域 -->
<div class="footer bs-footer">
  <div class="container">
    <div class="row">
      <p>
        Powered by dnight
      </p>
    </div>
  </div>
</div>